.wrapper {
  display: grid;
  grid-template-columns: 304px 1fr;
  align-items: center;
  column-gap: 24px;
}
.iconsWrapper {
  display: flex;
  overflow: hidden;
}

.priceWrapper {
  display: flex;
  justify-content: flex-end;
}

.opacity {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #1c1c21;
  background-image: url("../../images/border.png");
  opacity: 0.6;
}

.counter {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
