.burgerConstructor {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.scrollContent {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  max-height: 464px;
}

.acceptBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}
